[configuration]
    path = ApiProxy.php
    offset-right = 40
    update-interval = 1 minute
    metric = sml.power-consumed

[widget]
    type = chart
    title = Daily Power Usage, Hourly Total
    style = width:500px;height:300px;
    timespan = 1 day
    timezone = UTC
    endtime = next_day
    format = watthour
    stepline = false
    autoperiod = false
    period = 1 hour
    statistic = sum

[series]
    label = Today
    color = green

[series]
    label = Yesterday
    timeoffset = 1 day
    color = orange

[series]
    label = Month Ago
    timeoffset = 1 month
    color = silver



[widget]
    type = text
    title = Current Usage
    style = width:250px;height:300px;
    timespan = 1 hour
    timezone = UTC
    format = watthour

[series]
    label = Current Usage
    icon = ./css/ecology_color_21.svg
    statistic = sum
    period = 1 hour


[widget]
    type = chart
    title = Monthly Power Usage, Daily Total
    style = width:800px;height:300px;
    timespan = 1 month
    timezone = UTC
    endtime = next_month
    format = watthour
    stepline = false
    autoperiod = false
    mode = column
    dayformat = %m/%d
    retaintimespan = true
    legend-position = top
[series]
    label = Monthly Power Usage, Daily Total
    color = green
    period = 1 day
    statistic = sum
