[configuration]
path = ApiProxy.php
offset-right = 40
style = width:800px;height:600px;
update-interval = 1 minute

[widget]
type = chart
display-in-legend = false
timespan = 1 month
timezone = UTC
endtime = next_month
autoperiod = false
format = watthour
dayformat = %m/%d
mode = columnstack
legend-position = top


