[configuration]
path = ApiProxy.php?type=series
offset-right = 40
style = width:900px;height:200px;
update-interval = 1 minute
disconnect-interval = 30 minute
title = Collectd

[widget]
type = chart
timespan = 1 day
title = CPU Busy (100% - idle)
min-range = 0
max-range = 100
markers = false
width-units = 2
height-units = 1
step-line = false
legend-position = top
period = 15 minute
mode = stack

metric = collectd.cpu.aggregation.busy.average
[series]
label = avg
statistic = avg
alert-expression = value > 75
alert-style = stroke: red

[series]
label = max
statistic = max
color = darkviolet
style = opacity: 0.25

[series]
label = forecast
data-type = forecast
color = green
period = none
statistic = detail
stack = false

[widget]
type = chart
timespan = 1 hour
title = CPU Usage Breakdown
last-value-label = false
min-range = 0
max-range = 100
step-line = false
width-units = 2
height-units = 0.5
left-units = 2
top-units = 0
mode = stack

[series]
label = steal
metric = collectd.cpu.aggregation.steal.average
color = darkviolet

[series]
label = iowait
metric = collectd.cpu.aggregation.wait.average
color = steelblue

[series]
label = system
metric = collectd.cpu.aggregation.system.average
color = orange

[series]
label = user
metric = collectd.cpu.aggregation.user.average
color = green

[widget]
type = bar
timespan = 1 hour
last = true
title = CPU Usage by Processor
last-value-label = false
min-range = 0
max-range = 100
step-line = false
left-units = 2
width-units = 2
height-units = 0.5
top-units = 0.5
#group = instance


[column]
label = 0

[series]
label = 0
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 0
[series]
label = 0
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 0
[series]
label = 0
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 0

[column]
label = 1

[series]
label = 1
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 1
[series]
label = 1
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 1
[series]
label = 1
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 1

[column]
label = 2

[series]
label = 2
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 2
[series]
label = 2
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 2
[series]
label = 2
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 2

[column]
label = 3

[series]
label = 3
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 3
[series]
label = 3
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 3
[series]
label = 3
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 3

[column]
label = 4

[series]
label = 4
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 4
[series]
label = 4
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 4
[series]
label = 4
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 4

[column]
label = 5

[series]
label = 5
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 5
[series]
label = 5
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 5
[series]
label = 5
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 5

[column]
label = 6

[series]
label = 6
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 6
[series]
label = 6
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 6
[series]
label = 6
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 6

[column]
label = 7

[series]
label = 7
metric = collectd.cpu.wait
metric-label = wait
[tags]
instance = 7
[series]
label = 7
metric = collectd.cpu.system
metric-label = system
[tags]
instance = 7
[series]
label = 7
metric = collectd.cpu.user
metric-label = user
[tags]
instance = 7


[widget]
type = chart
timespan = 1 day
title = Load Average and Processes
min-range = 0
max-range = 2
max-range-right = 2
width-units = 2
height-units = 1
left-units = 4
last-value-label = false

[series]
label = loadavg.15m
entity = nurswgdkr002
metric = collectd.load.loadavg.15m


[series]
label = loadavg.1m
metric = collectd.load.loadavg.1m
color = grey

[series]
label = zombies
tooltip = Zombie processes
metric = collectd.processes.zombies
axis = right
color = magenta

[series]
label = stopped
tooltip = Stopped processes
metric = collectd.processes.stopped
axis = right
color = brown

[group]


[widget]
type = chart
timespan = 6 hour
title = Network IO per second
single-entity = true
width-units = 1.5
height-units = 1
auto-scale = true
format = bytes
stepline = false
legend-position = top
legend-last-value = false
markers = false
mode = column
period = 10 minute
statistic = avg

[series]
label = docker0 - In
entity = nurswgdkr002
metric = collectd.interface.if_octets.received
[tags]
instance = docker0

[series]
label = docker0 - Out
entity = nurswgdkr002
metric = collectd.interface.if_octets.sent
value = -value

[tags]
instance = docker0


[series]
label = eth0 - In
entity = nurswgdkr002
metric = collectd.interface.if_octets.received
[tags]
instance = eth0

[series]
label = eth0 - Out
entity = nurswgdkr002
metric = collectd.interface.if_octets.sent
value = -value

[tags]
instance = eth0




[widget]
type = box
timespan = 1 hour
title = Memory usage, last hour
width-units = 1.5
height-units = 1
format = bytes

[series]
label = free
metric = collectd.memory.free

[series]
label = buffers
metric = collectd.memory.buffered

[series]
label = cached
metric = collectd.memory.cached

[series]
label = slab_recl
metric = collectd.memory.slab_recl

[series]
label = slab_unrecl
metric = collectd.memory.slab_unrecl

[series]
label = used
metric = collectd.memory.used


[widget]
type = chart
timespan = 1 day
title = Memory Usage
width-units = 1.5
height-units = 1
format = bytes
min-range-force = 0
step-line = false
period = 30 minute
mode = range

[series]
label = cached
metric = collectd.memory.cached
statistic = min
color = silver
style = opacity: 0.5

[series]
label = cached
metric = collectd.memory.cached
statistic = max
color = silver
style = opacity: 0.5

[series]
label = used
metric = collectd.memory.used
statistic = min
color = darkviolet

[series]
label = used
metric = collectd.memory.used
statistic = max
color = darkviolet

[widget]
type = chart
timespan = 1 day
title = Swap Usage
width-units = 1.5
height-units = 0.5
top-units = 1
format = bytes
max-range = 10485760
last-value-label = false

[series]
label = used
metric = collectd.memory.swap_used

[series]
label = cached
metric = collectd.memory.swap_cached

[widget]
type = chart
timespan = 1 day
title = Swapping
width-units = 1.5
height-units = 0.5
top-units = 1.5
left-units = 4.5
format = numeric
legend-position = top
last-value-label = false

[series]
label = swap_in
metric = collectd.io.swap_in

[series]
label = swap_out
metric = collectd.io.swap_out

[group]



[widget]

type = bar
title = Disk Space
width-units = 1.5
height-units = 1
last = true
format = bytes
timespan = 1 hour
#script = widget.columnSort(function(a, b){ return b.tseries[1].value - a.tseries[1].value; })
sort = value DESC


[column]
label = /

[series]
metric = collectd.df.space.used
label = used - /
color = green
metric-label = used
[tags]
instance = /

[series]
metric = collectd.df.space.reserved
label = reserved - /
color = brown
metric-label = reserved
[tags]
instance = /


[series]
metric = collectd.df.space.free
label = free - /
color = silver
metric-label = free
[tags]
instance = /

[column]
label = /boot

[series]
metric = collectd.df.space.used
label = used - /boot
color = green
metric-label = used
[tags]
instance = /boot

[series]
metric = collectd.df.space.reserved
label = reserved - /boot
color = brown
metric-label = reserved
[tags]
instance = /boot


[series]
metric = collectd.df.space.free
label = free - /boot
color = silver
metric-label = free
[tags]
instance = /boot

[column]
label = /dev

[series]
metric = collectd.df.space.used
label = used - /dev
color = green
metric-label = used
[tags]
instance = /dev

[series]
metric = collectd.df.space.reserved
label = reserved - /dev
color = brown
metric-label = reserved
[tags]
instance = /dev


[series]
metric = collectd.df.space.free
label = free - /dev
color = silver
metric-label = free
[tags]
instance = /dev


[widget]
type = chart
timespan = 6 hour
title = Disk I/O
width-units = 1.5
height-units = 1
legend-position = top
min-range = 0
max-range = 100
markers = false
step-line = false
period = 15 minute
statistic = avg
metric = collectd.disk.disk_io_time.io_time

[series]
label = sda
[tags]
instance = sda
[series]
label = sda1
[tags]
instance = sda1
[series]
label = sda2
[tags]
instance = sda2
[series]
label = sda3
[tags]
instance = sda3
[series]
label = sdb
[tags]
instance = sdb
[series]
label = sdb1
[tags]
instance = sdb1
[series]
label = sdb2
[tags]
instance = sdb2
[series]
label = sdb3
[tags]
instance = sdb3

[widget]
type = chart
timespan = 6 hour
title = Disk Read per second
width-units = 1.5
height-units = 1
legend-position = top
format = bytes
markers = false
step-line = true
period = 15 minute
statistic = avg
#mode = column
metric = collectd.disk.disk_octets.read

[series]
label = sda
[tags]
instance = sda
[series]
label = sda1
[tags]
instance = sda1
[series]
label = sda2
[tags]
instance = sda2
[series]
label = sda3
[tags]
instance = sda3
[series]
label = sdb
[tags]
instance = sdb
[series]
label = sdb1
[tags]
instance = sdb1
[series]
label = sdb2
[tags]
instance = sdb2
[series]
label = sdb3
[tags]
instance = sdb3

[widget]
type = chart
timespan = 6 hour
title = Disk Write per second
width-units = 1.5
height-units = 1
legend-position = top
format = bytes
markers = false
step-line = true
period = 15 minute
statistic = avg
#mode = column
metric = collectd.disk.disk_octets.write

[series]
label = sda
[tags]
instance = sda
[series]
label = sda1
[tags]
instance = sda1
[series]
label = sda2
[tags]
instance = sda2
[series]
label = sda3
[tags]
instance = sda3
[series]
label = sdb
[tags]
instance = sdb
[series]
label = sdb1
[tags]
instance = sdb1
[series]
label = sdb2
[tags]
instance = sdb2
[series]
label = sdb3
[tags]
instance = sdb3

