[configuration]
  path = ApiProxy.php?type=series
  offset-right = 40
  style = width:900px;height:200px;
  update-interval = 1 minute
  disconnect-interval = 30 minute
  title = Operating System

[widget]
    type = chart
    timespan = 1 day
	title = CPU Usage % (5 min average)
	min-range = 0
	max-range = 100
	markers = false
	alert-expression = value > 75
	alert-style = stroke-width: 2; stroke: red
    legend-position = top

    [series]
      metric = os.cpu
      rate = 10 millisecond
      rate-counter = true
      display = false
      alias = cpu

    [series]
      value = 100 *avg('cpu', '5 minute')
      label = busy


[widget]
    type = chart
    timespan = 1 day
	title = Physical Memory Usage
	format = bytes
    min-range = 0

	[series]
		label = used
		metric = os.mem.used

	[series]
		label = total
		metric = os.mem.total
        color = grey


[widget]
    type = chart
	title = Network I/O
    timespan = 1 hour
	auto-scale = true
    format = bytes
    stepline = false
    legend-position = top
    legend-last-value = false
    display-in-legend = false
    centralize-columns = true
    markers = false
    mode = column
    label-format = tagValue

	[series]
		metric = os.net.bytes
		statistic = delta
		period = 1 minute
		[tags]
			iface = *
            direction = in

	[series]
		metric = os.net.bytes
		statistic = delta
		period = 1 minute
		replace-value = -value
		series-type = negative
		[tags]
			iface = *
            direction = out
