[configuration]
  path= ApiProxy.php?type=series
  offset-right = 40
  style = width:900px;height:200px;
  update-interval = 1 minute
  disconnect-interval = 30 minute
  legend-position = top
  title = Windows

[group]

[widget]
  type = chart
  title = CPU Busy % (current)
  min-range = 0
  max-range = 100
  timespan = 1 day
  markers = false
  step-line = false
  period = 15 minute
  mode = stack
  metric = win.cpu.load

    [series]
        label = avg
        statistic = avg
        alert-expression = value > 75
        alert-style = stroke: red

    [series]
        label = max
        statistic = max
        color = darkviolet
        style = opacity: 0.25

    [series]
        label = forecast
        data-type = forecast
        color = green
        period = none
        statistic = detail
        stack = false

[widget]
    type = chart
    title = CPU Usage Detail, %
    min-range = 0
    max-range = 1
    max-range-force = 1
    timespan = 1 hour
    last-value-label = false
    format = Math.round(value*1000)/10 + '%'
    step-line = false
    stack = true
    display-in-legend = false
    metric = win.cpu_total
    rate = 10 milliseconds
    rate-counter = true
    label-format = tagValue

    [series]
        [tags]
            "type" = *

    [series]
        display = false
        [tags]
            "type" = idle


[widget]
    type = chart
    title = System Calls
    timespan = 6 hour
    markers = false
    format = numeric
    stepline = false

    [series]
        label = syscalls
        metric = win.system.syscall
        rate = 1 minute
        rate-counter = true
        period = 15 minute
        statistics = avg

    [series]
        label = threads
        metric = win.system.threads
        period = 15 minute
        statistics = avg
        axis = right


[widget]
    type = box
    title = Memory usage, 1 day
    timespan = 1 day
    format = bytes

    [series]
        label = committed
        metric = win.mem.committed

    [series]
        label = cache
        metric = win.mem.cache

    [series]
        label = modified
        metric = win.mem.modified

    [series]
        label = vm.used
        value = var t = value('vm.total'), f = value('vm.free');
        value = return t == null || f == null ? null : t - f;

    [series]
        label = vm.free
        alias = vm.free
        metric = win.mem.vm.free
        display = false

    [series]
        label = vm.total
        alias = vm.total
        metric = win.mem.vm.total
        display = false


[widget]
    path= ApiProxy.php?type=series
    type = chart
    title = Physical Memory Usage
    timespan = 1 day
    min-range = 0
    format = bytes


    [series]
        label = used
        value = value('total') - value('free')

    [series]
        label = free
        metric = win.mem.free
        alias = free
        display = false

    [series]
        label = total
        metric = win.mem.total
        alias = total
        color = grey

[widget]
    type = chart
    timespan = 1 day
    title = Virtual Memory Usage
    format = bytes

    [series]
        label = used
        value = value('total') - value('free')

    [series]
        label = free
        metric = win.mem.vm.free
        alias = free
        display = false

    [series]
        label = total
        metric = win.mem.vm.total
        alias = total
        color = grey


[widget]
    type = chart
    title = Disk Write Bytes
    timespan = 1 hour
    autoscale = true
    markers = false
    server-aggregate = true
    period = 1 minute
    statistics = delta
    format = byte
    display-in-legend = false
    metric = win.disk.bytes

    [series]
        [tags]
            disk = *
            type = write


[widget]
  type = chart
  title = Disk Queue
  timespan = 1 hour
  legend-position = top
  autoscale = true
  markers = false
  server-aggregate = true
  rate = 1 minute
  rate-counter = true

    [series]
        label = 0C
        metric = win.disk.queue
        [tags]
            disk = 0C
            type = write


[widget]
  type = bar
  title = Disk Space
  timespan = 1 day
  #last = true
  format = bytes
  sort = name ASC
  group = metric

    [column]
        label = C

    [series]
      metric = win.disk.fs.space_used
      metric-label = used
      alias = used - C
      label = used - C
      color = green
        [tags]
        disk = C

    [series]
        metric = win.disk.fs.space_free
        metric-label = free
        alias = free - C
        label = free - C
        #if free space is less than 10%
        alert-expression = value('free - C')/value('used - C') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
        [tags]
            disk = C

  [widget]
    type = table
    title = Top Processes
    timespan = 1 hour
    width-units = 2
    column-value = null
    column-time = null
    column-metric = null
    column-entity = null
    merge-columns = entity, tags


    [column]
        tag = name
        label = Name
    [column]
        tag = id
        label = Id
    [column]
        key = win.proc.private_bytes
        label = Private Bytes
        format = byte

    [column]
        key = win.proc.mem.working_set
        label = Working Set
        format = byte

    [column]
        key = win.proc.cpu_total
        format = Math.round(value*1000)/10 + '%'
        label = CPU, %

    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = WinRM

    [series]
        metric = win.proc.private_bytes
        [tags]
            id = 0
            name = WinRM

    [series]
        metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = WinRM
    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = scollector

    [series]
        metric = win.proc.private_bytes
        [tags]
            id = 0
            name = scollector

    [series]
        metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = scollector

[widget]
    type = table
    title = Top Processes
    timespan = 1 hour
    width-units = 2
    column-value = null
    column-time = null
    column-metric = null
    column-entity = null
    merge-columns = entity, tags


    [column]
      tag = name
      label = Name
    [column]
      tag = id
      label = Id
    [column]
      key = win.proc.private_bytes
      label = Private Bytes
      format = byte

    [column]
      key = win.proc.mem.working_set
      label = Working Set
      format = byte

    [column]
      key = win.proc.cpu_total
      format = Math.round(value*1000)/10 + '%'
      label = CPU, %

    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = WinRM

    [series]
        metric = win.proc.private_bytes
        [tags]
            id = 0
            name = WinRM

    [series]
        metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = WinRM
    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = scollector

    [series]
        metric = win.proc.private_bytes
        [tags]
            id = 0
            name = scollector

    [series]
    metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = scollector


[widget]
    type = table
    title = Top Processes
    timespan = 1 hour
    column-value = null
    column-time = null
    column-metric = null
    column-entity = null

    merge-columns = entity, tags


    [column]
        tag = name
        label = Name
    [column]
    tag = id
    label = Id
    [column]
        key = win.proc.private_bytes
        label = Private Bytes
        format = byte

    [column]
        key = win.proc.mem.working_set
        label = Working Set
        format = byte

    [column]
        key = win.proc.cpu_total
        format = Math.round(value*1000)/10 + '%'
        label = CPU, %

    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = WinRM

    [series]
            metric = win.proc.private_bytes
        [tags]
            id = 0
            name = WinRM

    [series]
        metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = WinRM
    [series]
        metric = win.proc.cpu_total
        rate = 10 milliseconds
        [tags]
            id = 0
            name = scollector

    [series]
        metric = win.proc.private_bytes
        [tags]
            id = 0
            name = scollector

    [series]
        metric = win.proc.mem.working_set
        [tags]
            id = 0
            name = scollector
