[configuration]
  path = ApiProxy.php?type=series
  offset-right = 40
  style = width:900px;height:200px;
  update-interval = 1 minute
  disconnect-interval = 30 minute
  legend-position = top
  title = Linux

[widget]
    type = chart
    timespan = 1 hour
	title = CPU Usage Detail, %
	display-in-legend = false
	last-value-label = false
	min-range = 0
	max-range = 1
    max-range-force = 1
    format = Math.round(value*1000)/10
	step-line = false
	stack = true
    metric = linux.cpu
    rate = 1 milliseconds
    rate-counter = true
    label-format = tagValue

    [series]
        [tags]
            type = *

    [series]
      display = false
      [tags]
        type = idle


[widget]
    type = chart
    timespan = 1 day
	title = 15 min Load Avg
	min-range = 0
	max-range = 2
	markers = false
    step-line = false
    period = 1 hour
    mode = stack
    metric = linux.loadavg_15_min

    [series]
        label = avg
        statistic = avg
        alert-expression = value > 2
        alert-style = stroke: red

	[series]
        label = max
        metric = linux.loadavg_15_min
        statistic = max
        color = darkviolet
        style = opacity: 0.25


[widget]
    type = chart
    timespan = 1 hour
	title = 1m Load Avg - 1 hour
	min-range = 0
	max-range = 2
	markers = false
    step-line = false

    [series]
      label = 1m
      metric = linux.loadavg_1_min


[widget]
    type = box
    timespan = 1 hour
	title = Memory usage, last hour
	format = kilobytes

	[series]
		label = free
		metric = linux.mem.memfree

	[series]
		label = buffers
		metric = linux.mem.buffers

	[series]
		label = cached
		metric = linux.mem.cached

	[series]
		label = active
		metric = linux.mem.active



[widget]
    type = chart
    timespan = 1 day
	title = Swap Usage
	width-units = 2
	height-units = 1
	format = kilobytes

	[series]
		label = free
		metric = linux.mem.swapfree
        alias = free
        display = false

	[series]
		label = used
		value = value('total') - value('free')

	[series]
		label = total
		metric = linux.mem.swaptotal
        alias = total
        color = grey


[widget]
	type = chart
	timespan = 1 hour
	title = Disk IOs in progress
	markers = false
    display-in-legend = false
    label-format = tagValue

    [series]
        metric = linux.disk.ios_in_progress
        [tags]
            dev = *


[widget]
	type = chart
	timespan = 3 hour
	title = Disk Write I/O

	markers = false
    statistic = delta
    period = 1 minute
    format = byte
    display = value > 0
    metric = linux.disk.bytes
    display-in-legend = false
    label-format = tagValue

    [series]
        [tags]
            type = write
            dev = *


[widget]
	type = bar
	title = Disk Space
    last = true
    format = bytes
    sort = name ASC
	group = metric
    timespan = 1 day


    [column]
      	label = /

    [series]
    	entity = nurswgdkr002
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /
        label = used - /
        color = green
			[tags]
              mount = /

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /
        label = free - /
        #if free space is less than 10%
        alert-expression = value('free - /')/value('used - /') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /


    [column]
      	label = /boot

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /boot
        label = used - /boot
        color = green
			[tags]
              mount = /boot

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /boot
        label = free - /boot
        #if free space is less than 10%
        alert-expression = value('free - /boot')/value('used - /boot') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /boot


    [column]
      	label = /dev

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /dev
        label = used - /dev
        color = green
			[tags]
              mount = /dev

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /dev
        label = free - /dev
        #if free space is less than 10%
        alert-expression = value('free - /dev')/value('used - /dev') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /dev


    [column]
      	label = /run

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /run
        label = used - /run
        color = green
			[tags]
              mount = /run

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /run
        label = free - /run
        #if free space is less than 10%
        alert-expression = value('free - /run')/value('used - /run') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /run


    [column]
      	label = /run/lock

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /run/lock
        label = used - /run/lock
        color = green
			[tags]
              mount = /run/lock

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /run/lock
        label = free - /run/lock
        #if free space is less than 10%
        alert-expression = value('free - /run/lock')/value('used - /run/lock') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /run/lock


    [column]
      	label = /run/shm

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /run/shm
        label = used - /run/shm
        color = green
			[tags]
              mount = /run/shm

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /run/shm
        label = free - /run/shm
        #if free space is less than 10%
        alert-expression = value('free - /run/shm')/value('used - /run/shm') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
        [tags]
            mount = /run/shm


    [column]
      	label = /run/user

    [series]
    	entity = nurswgdkr002
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /run/user
        label = used - /run/user
        color = green
			[tags]
              mount = /run/user

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /run/user
        label = free - /run/user
        #if free space is less than 10%
        alert-expression = value('free - /run/user')/value('used - /run/user') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /run/user


    [column]
      	label = /sys/fs/cgroup

    [series]
        metric = linux.disk.fs.space_used
        metric-label = used
        alias = used - /sys/fs/cgroup
        label = used - /sys/fs/cgroup
        color = green
			[tags]
              mount = /sys/fs/cgroup

    [series]
        metric = linux.disk.fs.space_free
        metric-label = free
        alias = free - /sys/fs/cgroup
        label = free - /sys/fs/cgroup
        #if free space is less than 10%
        alert-expression = value('free - /sys/fs/cgroup')/value('used - /sys/fs/cgroup') < 0.1/0.9
        alert-style = fill: orange; stroke: orange;
        color = silver
			[tags]
              mount = /sys/fs/cgroup

[widget]
    type = table
    title = Top Processes
    timespan = 1 hour
    column-value = null
    column-time = null
    column-metric = null
    column-entity = null
    merge-columns = a.tags.id == b.tags.id && a.tags.name == b.tags.name && 'type'

    [column]
      tag = name
      label = Name
    [column]
      tag = id
      label = Id
    [column]
      label = Mem RSS
      value = row.series.some(function(s){ return s.keys.key.metric == 'linux.proc.mem.rss'; })
      format = byte
    [column]
      label = Mem Virtual
      value = row.series.some(function(s){ return s.keys.key.metric == 'linux.proc.mem.virtual'; })
      format = byte
    [column]
      key = user
      format = Math.round(value*1000)/10 + '%'
      label = User CPU, %
    [column]
      key = system
      format = Math.round(value*1000)/10 + '%'
      label = System CPU, %

  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 1
      name = java-atsd
      "type" = user
  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 1
      name = java-atsd
      "type" = system
  [series]
    metric = linux.proc.mem.rss
    [tags]
      id = 1
      name = java-atsd
  [series]
    metric = linux.proc.mem.virtual
    [tags]
      id = 1
      name = java-atsd
  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 3
      name = java-atsd
      "type" = user
  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 3
      name = java-atsd
      "type" = system
  [series]
    metric = linux.proc.mem.rss
    [tags]
      id = 3
      name = java-atsd
  [series]
    metric = linux.proc.mem.virtual
    [tags]
      id = 3
      name = java-atsd
  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 2
      name = java-atsd
      "type" = user
  [series]
    metric = linux.proc.cpu
    rate = 10 milliseconds
    [tags]
      id = 2
      name = java-atsd
      "type" = system
  [series]
    metric = linux.proc.mem.rss
    [tags]
      id = 2
      name = java-atsd
  [series]
    metric = linux.proc.mem.virtual
    [tags]
      id = 2
      name = java-atsd