[configuration]
path= ApiProxy.php?type=series
offset-right = 40
style = width:900px;height:200px;
update-interval = 1 minute
legend-position = top
title = MS SQL

[group]
timespan = 1 day

[widget]
type = chart
title = Logins/sec
marker = false
markers = false
step-line = false
disconnect-count = 5
server-aggregate = true
statistic = avg
period = 1 hour

    [series]
    label = Logins/sec
    metric = mssql.logins
    rate = 1 second

    [series]
    label = Logouts/sec
    metric = mssql.logouts
    rate = 1 second

    [series]
    label = User Connections
    metric = mssql.user_connections
    axis = right

[widget]
type = chart
title = Transactions
marker = false
markers = false
step-line = false
disconnect-count = 5
server-aggregate = true
statistic = avg
period = 1 hour

    [series]
    label = Total Transactions
    metric = mssql.transactions_total

    [series]
    label = Processes Blocked
    metric = mssql.proc_blocked
    axis = right

[widget]
type = chart
title = SQL / sec
marker = false
max-range = 1
markers = false
step-line = false
disconnect-interval = 1 hour
rate = 1 second
statistic = avg
period = 1 hour

[series]
label = Compilations
metric = mssql.compilations

[series]
label = Re-compliations
metric = mssql.recompilations

[widget]
type = bar
title = Database Space Usage
last = true
height-units = 1
stack = true
format = bytes
group = metric
display-values = false
horizontal = true
legend-position = hidden

[column]
label = OperationsManager2012
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = OperationsManager2012
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = OperationsManager2012
[column]
label = ReportServerTempDB
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = ReportServerTempDB
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = ReportServerTempDB
[column]
label = NetFlow
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = NetFlow
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = NetFlow
[column]
label = OperationsManagerDW2012
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = OperationsManagerDW2012
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = OperationsManagerDW2012
[column]
label = ReportServer2012TempDB
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = ReportServer2012TempDB
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = ReportServer2012TempDB
[column]
label = ReportServer2012
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = ReportServer2012
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = ReportServer2012
[column]
label = ReportServer
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = ReportServer
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = ReportServer
[column]
label = WhatsUp
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = WhatsUp
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = WhatsUp
[column]
label = OperationsManager
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = OperationsManager
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = OperationsManager
[column]
label = NFArchive
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = NFArchive
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = NFArchive
[column]
label = OperationsManagerDW
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = OperationsManagerDW
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = OperationsManagerDW
[column]
label = SolarWindsOrion
[series]
metric-label = data_files_size
metric = mssql.data_files_size
[tags]
db = SolarWindsOrion
[series]
metric-label = data_files_size
metric = mssql.log_files_size
[tags]
db = SolarWindsOrion

[group]
rate = 1 second
statistic = avg
period = 1 hour
type = chart
width-units = 0.8
timespan = 1 day
marker = false
max-range = 1
markers = false
step-line = false
disconnect-interval = 1 hour



[widget]
title = Wait Time Locks

[series]
label = Object
metric = mssql.lock_wait_time
[tags]
"type" = Object
[series]
label = Database
metric = mssql.lock_wait_time
[tags]
"type" = Database
[series]
label = Page
metric = mssql.lock_wait_time
[tags]
"type" = Page
[series]
label = Extent
metric = mssql.lock_wait_time
[tags]
"type" = Extent


[widget]
title = Requests Locks

[series]
label = Object
metric = mssql.lock_requests
[tags]
"type" = Object
[series]
label = Database
metric = mssql.lock_requests
[tags]
"type" = Database
[series]
label = Page
metric = mssql.lock_requests
[tags]
"type" = Page
[series]
label = Extent
metric = mssql.lock_requests
[tags]
"type" = Extent


[widget]
title = Timeouts Locks

[series]
label = Object
metric = mssql.lock_timeouts
[tags]
"type" = Object
[series]
label = Database
metric = mssql.lock_timeouts
[tags]
"type" = Database
[series]
label = Page
metric = mssql.lock_timeouts
[tags]
"type" = Page
[series]
label = Extent
metric = mssql.lock_timeouts
[tags]
"type" = Extent


[widget]
title = Waits Locks

[series]
label = Object
metric = mssql.lock_waits
[tags]
"type" = Object
[series]
label = Database
metric = mssql.lock_waits
[tags]
"type" = Database
[series]
label = Page
metric = mssql.lock_waits
[tags]
"type" = Page
[series]
label = Extent
metric = mssql.lock_waits
[tags]
"type" = Extent


[widget]
title = Deadlocks

[series]
label = Object
metric = mssql.deadlocks
[tags]
"type" = Object
[series]
label = Database
metric = mssql.deadlocks
[tags]
"type" = Database
[series]
label = Page
metric = mssql.deadlocks
[tags]
"type" = Page
[series]
label = Extent
metric = mssql.deadlocks
[tags]
"type" = Extent


[group]

[widget]
width-units = 4
type = table
title = Database Statistics

column-metric = null
column-entity = null
column-time = null
column-value = null
transpose = true
merge columns = entity, tags
sort = db
server-aggregate = true
time-span = 10 minute

[column]
key = db
tag = db
row-style = !value && 'display: none'

[column]
key = mssql.active_transactions
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = active_transactions
[column]
key = mssql.backup_restore_throughput
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = backup_restore_throughput/sec
[column]
key = mssql.bulkcopy_rows
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = bulkcopy_rows/sec
[column]
key = mssql.commit_table_entries
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = commit_table_entries
[column]
key = mssql.repl_pending_xacts
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = repl_pending_xacts
[column]
key = mssql.repl_trans_rate
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = repl_trans_rate
[column]
key = mssql.tracked_transactions
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = tracked_transactions
[column]
key = mssql.transactions
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = transactions/sec
[column]
key = mssql.write_transactions
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = write_transactions/sec
[column]
key = mssql.dbcc_logical_scan_bytes
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = dbcc_logical_scan_bytes
[column]
key = mssql.bulkcopy_throughput
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = bulkcopy_throughput/sec
[column]
key = mssql.shrink_data_movement_bytes
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = shrink_data_movement_bytes
[column]
key = mssql.percent_log_used
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = percent_log_used
[column]
key = mssql.log_files_used_size
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_files_used_size
[column]
key = mssql.log_bytes_flushed
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_bytes_flushed/sec
[column]
key = mssql.log_cache_hit_ratio
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_cache_hit_ratio
[column]
key = mssql.log_cache_hit_ratio_base
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_cache_hit_ratio_base
[column]
key = mssql.log_cache_reads
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_cache_reads/sec
[column]
key = mssql.log_flushes
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_flushes/sec
[column]
key = mssql.log_flush_waits
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_flush_waits/sec
[column]
key = mssql.log_flush_wait_time
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_flush_wait_time
[column]
key = mssql.log_growths
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_growths
[column]
key = mssql.log_shrinks
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_shrinks
[column]
key = mssql.log_truncations
onclick = callDialog({ timespan: "1 hour", series: [row.map[column.key].config] })
label = log_truncations





[series]
metric = mssql.active_transactions
[tags]
db = OperationsManager2012



[series]
metric = mssql.active_transactions
[tags]
db = ReportServerTempDB



[series]
metric = mssql.active_transactions
[tags]
db = NetFlow



[series]
metric = mssql.active_transactions
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.active_transactions
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.active_transactions
[tags]
db = ReportServer2012





[series]
metric = mssql.active_transactions
[tags]
db = ReportServer



[series]
metric = mssql.active_transactions
[tags]
db = WhatsUp



[series]
metric = mssql.active_transactions
[tags]
db = OperationsManager




[series]
metric = mssql.active_transactions
[tags]
db = NFArchive




[series]
metric = mssql.active_transactions
[tags]
db = OperationsManagerDW



[series]
metric = mssql.active_transactions
[tags]
db = SolarWindsOrion





[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.backup_restore_throughput
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.bulkcopy_rows
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.commit_table_entries
[tags]
db = OperationsManager2012



[series]
metric = mssql.commit_table_entries
[tags]
db = ReportServerTempDB



[series]
metric = mssql.commit_table_entries
[tags]
db = NetFlow



[series]
metric = mssql.commit_table_entries
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.commit_table_entries
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.commit_table_entries
[tags]
db = ReportServer2012





[series]
metric = mssql.commit_table_entries
[tags]
db = ReportServer



[series]
metric = mssql.commit_table_entries
[tags]
db = WhatsUp



[series]
metric = mssql.commit_table_entries
[tags]
db = OperationsManager




[series]
metric = mssql.commit_table_entries
[tags]
db = NFArchive




[series]
metric = mssql.commit_table_entries
[tags]
db = OperationsManagerDW



[series]
metric = mssql.commit_table_entries
[tags]
db = SolarWindsOrion





[series]
metric = mssql.repl_pending_xacts
[tags]
db = OperationsManager2012



[series]
metric = mssql.repl_pending_xacts
[tags]
db = ReportServerTempDB



[series]
metric = mssql.repl_pending_xacts
[tags]
db = NetFlow



[series]
metric = mssql.repl_pending_xacts
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.repl_pending_xacts
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.repl_pending_xacts
[tags]
db = ReportServer2012





[series]
metric = mssql.repl_pending_xacts
[tags]
db = ReportServer



[series]
metric = mssql.repl_pending_xacts
[tags]
db = WhatsUp



[series]
metric = mssql.repl_pending_xacts
[tags]
db = OperationsManager




[series]
metric = mssql.repl_pending_xacts
[tags]
db = NFArchive




[series]
metric = mssql.repl_pending_xacts
[tags]
db = OperationsManagerDW



[series]
metric = mssql.repl_pending_xacts
[tags]
db = SolarWindsOrion





[series]
metric = mssql.repl_trans_rate
[tags]
db = OperationsManager2012



[series]
metric = mssql.repl_trans_rate
[tags]
db = ReportServerTempDB



[series]
metric = mssql.repl_trans_rate
[tags]
db = NetFlow



[series]
metric = mssql.repl_trans_rate
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.repl_trans_rate
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.repl_trans_rate
[tags]
db = ReportServer2012





[series]
metric = mssql.repl_trans_rate
[tags]
db = ReportServer



[series]
metric = mssql.repl_trans_rate
[tags]
db = WhatsUp



[series]
metric = mssql.repl_trans_rate
[tags]
db = OperationsManager




[series]
metric = mssql.repl_trans_rate
[tags]
db = NFArchive




[series]
metric = mssql.repl_trans_rate
[tags]
db = OperationsManagerDW



[series]
metric = mssql.repl_trans_rate
[tags]
db = SolarWindsOrion





[series]
metric = mssql.tracked_transactions
[tags]
db = OperationsManager2012



[series]
metric = mssql.tracked_transactions
[tags]
db = ReportServerTempDB



[series]
metric = mssql.tracked_transactions
[tags]
db = NetFlow



[series]
metric = mssql.tracked_transactions
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.tracked_transactions
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.tracked_transactions
[tags]
db = ReportServer2012





[series]
metric = mssql.tracked_transactions
[tags]
db = ReportServer



[series]
metric = mssql.tracked_transactions
[tags]
db = WhatsUp



[series]
metric = mssql.tracked_transactions
[tags]
db = OperationsManager




[series]
metric = mssql.tracked_transactions
[tags]
db = NFArchive




[series]
metric = mssql.tracked_transactions
[tags]
db = OperationsManagerDW



[series]
metric = mssql.tracked_transactions
[tags]
db = SolarWindsOrion





[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.write_transactions
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = OperationsManager2012



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = ReportServerTempDB



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = NetFlow



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = ReportServer2012





[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = ReportServer



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = WhatsUp



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = OperationsManager




[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = NFArchive




[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = OperationsManagerDW



[series]
metric = mssql.dbcc_logical_scan_bytes
format = bytes
[tags]
db = SolarWindsOrion





[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.bulkcopy_throughput
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = OperationsManager2012



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = ReportServerTempDB



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = NetFlow



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = ReportServer2012





[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = ReportServer



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = WhatsUp



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = OperationsManager




[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = NFArchive




[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = OperationsManagerDW



[series]
metric = mssql.shrink_data_movement_bytes
format = bytes
[tags]
db = SolarWindsOrion





[series]
metric = mssql.percent_log_used
[tags]
db = OperationsManager2012



[series]
metric = mssql.percent_log_used
[tags]
db = ReportServerTempDB



[series]
metric = mssql.percent_log_used
[tags]
db = NetFlow



[series]
metric = mssql.percent_log_used
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.percent_log_used
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.percent_log_used
[tags]
db = ReportServer2012





[series]
metric = mssql.percent_log_used
[tags]
db = ReportServer



[series]
metric = mssql.percent_log_used
[tags]
db = WhatsUp



[series]
metric = mssql.percent_log_used
[tags]
db = OperationsManager




[series]
metric = mssql.percent_log_used
[tags]
db = NFArchive




[series]
metric = mssql.percent_log_used
[tags]
db = OperationsManagerDW



[series]
metric = mssql.percent_log_used
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = NetFlow



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = ReportServer2012





[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = ReportServer



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = WhatsUp



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = OperationsManager




[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = NFArchive




[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_files_used_size
format = bytes
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_bytes_flushed
format = bytes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = NetFlow



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = ReportServer2012





[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = ReportServer



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = WhatsUp



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = OperationsManager




[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = NFArchive




[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_cache_hit_ratio
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = NetFlow



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = ReportServer2012





[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = ReportServer



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = WhatsUp



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = OperationsManager




[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = NFArchive




[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_cache_hit_ratio_base
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_cache_reads
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_flushes
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NetFlow



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer2012





[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = ReportServer



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = WhatsUp



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManager




[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = NFArchive




[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_flush_waits
rate = 1 second
statistic = avg
period = 1 minute
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_flush_wait_time
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_flush_wait_time
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_flush_wait_time
[tags]
db = NetFlow



[series]
metric = mssql.log_flush_wait_time
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_flush_wait_time
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_flush_wait_time
[tags]
db = ReportServer2012





[series]
metric = mssql.log_flush_wait_time
[tags]
db = ReportServer



[series]
metric = mssql.log_flush_wait_time
[tags]
db = WhatsUp



[series]
metric = mssql.log_flush_wait_time
[tags]
db = OperationsManager




[series]
metric = mssql.log_flush_wait_time
[tags]
db = NFArchive




[series]
metric = mssql.log_flush_wait_time
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_flush_wait_time
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_growths
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_growths
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_growths
[tags]
db = NetFlow



[series]
metric = mssql.log_growths
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_growths
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_growths
[tags]
db = ReportServer2012





[series]
metric = mssql.log_growths
[tags]
db = ReportServer



[series]
metric = mssql.log_growths
[tags]
db = WhatsUp



[series]
metric = mssql.log_growths
[tags]
db = OperationsManager




[series]
metric = mssql.log_growths
[tags]
db = NFArchive




[series]
metric = mssql.log_growths
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_growths
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_shrinks
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_shrinks
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_shrinks
[tags]
db = NetFlow



[series]
metric = mssql.log_shrinks
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_shrinks
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_shrinks
[tags]
db = ReportServer2012





[series]
metric = mssql.log_shrinks
[tags]
db = ReportServer



[series]
metric = mssql.log_shrinks
[tags]
db = WhatsUp



[series]
metric = mssql.log_shrinks
[tags]
db = OperationsManager




[series]
metric = mssql.log_shrinks
[tags]
db = NFArchive




[series]
metric = mssql.log_shrinks
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_shrinks
[tags]
db = SolarWindsOrion





[series]
metric = mssql.log_truncations
[tags]
db = OperationsManager2012



[series]
metric = mssql.log_truncations
[tags]
db = ReportServerTempDB



[series]
metric = mssql.log_truncations
[tags]
db = NetFlow



[series]
metric = mssql.log_truncations
[tags]
db = OperationsManagerDW2012



[series]
metric = mssql.log_truncations
[tags]
db = ReportServer2012TempDB



[series]
metric = mssql.log_truncations
[tags]
db = ReportServer2012





[series]
metric = mssql.log_truncations
[tags]
db = ReportServer



[series]
metric = mssql.log_truncations
[tags]
db = WhatsUp



[series]
metric = mssql.log_truncations
[tags]
db = OperationsManager




[series]
metric = mssql.log_truncations
[tags]
db = NFArchive




[series]
metric = mssql.log_truncations
[tags]
db = OperationsManagerDW



[series]
metric = mssql.log_truncations
[tags]
db = SolarWindsOrion
