[configuration]
path= ApiProxy.php?type=series
offset-right = 40
style = width:900px;height:200px;
update-interval = 1 minute
disconnect-interval = 30 minute
legend-position = top
title = VMWare - VM

[group]

[widget]
type = chart

title = CPU Core Utilization %

width-units = 1.33
height-units = 1

min-range = 0
max-range = 100

timespan = 3 day
disconnect-count = 5

tooltip = Physical Core Utilization
marker = false
stack = true
markers = false
step-line = false

entity = nurswgdkr002
metric = vmware.vm.cpu.usage
period = 60 minute

[series]
label = avg
statistic = avg

[series]
label = max
statistic = max
color = darkviolet
style = opacity: 0.25

[widget]
type = chart

title = CPU Ready %

width-units = 1.33
height-units = 1

min-range = 0
max-range = 10
timespan = 3 day
disconnect-count = 5

marker = false
markers = false
step-line = false
alert-expression = value > 5
alert-style = stroke-width: 2; stroke: red

[series]
entity = nurswgdkr002
metric = vmware.vm.cpu.ready
label = ready, %
replace-value = 100 * value/300000
format = numeric(1)
color = orange

[widget]
type = chart

title = CPU Usage, Hz

width-units = 1.33
height-units = 1

timespan = 3 day
disconnect-count = 5

marker = false
mode = stack
markers = false
step-line = false
format = megahertz

entity = nurswgdkr002

[series]
label = avg
metric = vmware.vm.cpu.usagemhz
statistic = avg
period = 60 minute

[series]
label = max
metric = vmware.vm.cpu.usagemhz
statistic = max
period = 60 minute
color = darkviolet
style = opacity: 0.25

[series]
metric = vmware.vm.cpu.entitlement
alias = entitlement
display = false
[threshold]
label = Entitled
tooltip = Entitlement
value = value('entitlement')
color = darkgrey

[group]

[widget]
type = chart

title = Memory Utilization

width-units = 2
height-units = 1

timespan = 3 day

format = kilobytes

entity = nurswgdkr002

[series]
label = active
metric = vmware.vm.mem.active

[series]
label = consumed
metric = vmware.vm.mem.consumed

[series]
label = entitlement
metric = vmware.vm.mem.entitlement
color = darkgrey

[widget]
type = chart

title = Swapping Rate

width-units = 1
height-units = 1

timespan = 3 day
disconnect-count = 5

stack = true
markers = false
step-line = false
format = megabytes

entity = nurswgdkr002

[series]
label = in
metric = vmware.vm.mem.swapinrate

[series]
label = out
metric = vmware.vm.mem.swapoutrate

[widget]
type = property

title = VM Configuration

width-units = 1
height-units = 1

timespan = 1 day

transpose = true
responsive = false
column-time = null
column-entity = null

[column]
key = name
label = Name
[column]
key = annotation
label = Annotation
[column]
key = description
label = Description
[column]
key = power_state
label = Power State
style = td ? value == 'On' ? 'font-weight: bold; color: green' : 'font-weight: bold; color: red' : ''
[column]
key = boot_time
label = Boot Time
[column]
key = num_vcpu
label = vCPU Count
[column]
key = mem_size_mb
label = Memory
format = megabytes
[column]
key = num_disk
label = Disks
[column]
key = aggr_commited_storage_space
label = Committed Storage
tooltip = Aggregate Committed Storage Space
format = bytes
[column]
key = num_nic
label = NICs
tooltip = Network Interfaces
[column]
key = vmmware_tool
label = VMware Tools
[column]
key = guest_state
label = Guest State
[column]
key = time
label = Time

[property]
{
type:'vmware.vm'
,entity:'nurswgdkr002'
}

[group]

[widget]
type = chart

title = Datastore: Total Read Latency

width-units = 1
height-units = 1

max-range = 100
timespan = 3 day

mode = range
stepline = false

entity = nurswgdkr002
period = 1 hour
color = magenta

[series]
label = read
metric = vmware.vm.datastore.totalreadlatency
statistic = percentile_50

[series]
label = read
metric = vmware.vm.datastore.totalreadlatency
statistic = percentile_99

[widget]
type = chart

title = Datastore: Total Write Latency

width-units = 1
height-units = 1

max-range = 100
timespan = 3 day

mode = range
stepline = false

entity = nurswgdkr002
metric = vmware.vm.datastore.totalwritelatency
period = 1 hour
color = darkviolet

[series]
label = write
statistic = percentile_50

[series]
label = write
statistic = percentile_99


[widget]
type = chart

title = Network I/O per second - In

width-units = 1
height-units = 1

timespan = 3 day

format = kilobytes
legend-position = top

entity = nurswgdkr002

[widget]
type = chart

title = Network Packet Drops per second - In

width-units = 1
height-units = 1

timespan = 3 day
format = numeric
legend-position = top
entity = nurswgdkr002


[group]

[widget]
type = chart

title = Datastore: Read per second

width-units = 1
height-units = 1

timespan = 3 day

format = kilobytes

[series]
label = read
entity = nurswgdkr002
metric = vmware.vm.datastore.read
color = magenta

[widget]
type = chart

title = Datastore: Write per second

width-units = 1
height-units = 1

timespan = 3 day

format = kilobytes

[series]
label = write
entity = nurswgdkr002
metric = vmware.vm.datastore.write
color = darkviolet

[widget]
type = chart

title = Network I/O per second - Out

width-units = 1
height-units = 1

timespan = 3 day

format = kilobytes
legend-position = top
entity = nurswgdkr002
metric = vmware.vm.net.transmitted


[widget]
type = chart

title = Network Packet Drops per second - Out

width-units = 1
height-units = 1

timespan = 3 day

format = numeric
legend-position = top

entity = nurswgdkr002