.widget {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 5px;
}

#title {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    float: left;
}

#timezone {
    font-size: 10px;
}

#menu {
    float: left;
}

.menuBlocks {
    padding-top: 10px;
    padding-right: 20px
}

body {
    overflow: auto !important;
    white-space: nowrap;
    font-family: Arial;
}

.axi-tooltip-container {
    z-index: -1
}

