AuthType Digest
AuthName performance
AuthUserFile "/home/sild/code/svn/axibase/AxibaseAPI/atsd-api-php/performance/.htpasswd"
Require valid-user
<Files ~ "^.*\.ini$">
    Order allow,deny
    Deny from all
</Files>
