AuthType Digest
AuthName meters
AuthUserFile "/home/sild/code/svn/axibase/AxibaseAPI/atsd-api-php/meters/.htpasswd"
Require valid-user
<Files ~ "^.*\.ini$">
    Order allow,deny
    Deny from all
</Files>
