table {
    border-collapse: collapse;
    vertical-align: middle;
    white-space: nowrap;
    margin: 10px;

}

.metricTitle {
    margin: 10px;
}

table td,th {
    padding: 4px;

}

#timezone{
    position:absolute;
    top:0;
    right:0;
}

#entities, #metrics {
    font-size: 12px;
}

.sortable tr th {
    cursor: pointer;
}


.ahead {
    background-color: magenta;
}

.lagging {
    background-color: red;
}



.no-insert-time {
    background-color: #FFFFFF;
}



/*.table-head {*/
    /*font-size: 18;*/
/*}*/

/*#entities {*/
    /*background-color: #F5F5F5;*/
/*}*/

/*#entities tr th {*/
    /*background-color: #BBBBBB;*/
/*}*/
